body{
/*background-color:#DCDCDD;*/
font-family: 'Roboto Slab', serif;
font-size: 0.8em;
}
#version{
	font-size:9px;
	float:right;
}
h2{
	text-align: center;
	color: #1985A1;
	font-size: 2em;
}
.paging-button {
  visibility: hidden;
}

.button-container {
  clear: both;
}

.cuadroVideo .contenidoVideo .imgVideo{
	height: 141px;
	width: 250px;
	display: block;
    margin: 0 auto;
}
/*todo el div con el contenido de cada cuadro de video*/
.cuadroVideo .contenidoVideo {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;    
}

.cuadroVideo .contenidoVideo p {
	text-align:center;
}

/*
Tablita para hacer algo responsive
nuestro caso 20% * 0.5625 = 11.25% de padding
 Aspect ratio  |  padding-bottom  |  for 30% width
------------------------------------------------
    1:1        |  = width         |    30%
    1:2        |  width x 2       |    60%
    2:1        |  width x 0.5     |    15%
    4:3        |  width x 0.75    |    22.5%
    16:9       |  width x 0.5625  |    16.875%

*/
.cuadroVideo{
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : calc(30% * 0.5625); /* = width for a 1:1 aspect ratio */
    margin:5px;
	background-color:#DCDCDD;
    overflow:hidden;
	/*border: 2px dashed #011936;*/
	border-radius: 4px;

}	

#video-container ul{
    list-style-type: none;
}
#video-container .search{
	margin: 0px 3%;  
	color: white;  
	border-radius: 25px;
	padding: 7px 14px;
	background-color: #46494C;
	border: solid 1px rgba(255, 255, 255, 0.2);
	width: 100%;
	box-sizing: border-box;	
	margin-bottom: 5px;
	width: 14%;
}
#video-container .search{
	outline:none;
}

#divCargando{
	text-align: center;
}
#divCargando img{
	height: 50px; 
}

#divCargando span{
	display: block;
	font-size: 1em;
	color: #b22a2a;
}
#divEstadisticas {
	margin: 1% 3%;
	color: #46494C;
}


  /*  width: 30%;
    padding-bottom: 30%; /* = width for a square aspect ratio */
/*
	display: table-cell;
	width:400px;
	margin: 1em 1em;*/

/*
#video-container{
	display:inline-block;
}*/